<section id="fh5co-about" data-section="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">About</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>
              Columbus has a wonderful talent pool of young & enthusiastic badminton players.
              This website strives to bring them together under one roof - fun and exhibition.Here are some contacts
              you may want to reach out to, if you wish to be a part of this family.
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="fh5co-person text-center to-animate">
          <figure><img src="images/balav.jpeg" alt="Image"></figure>
          <h3>Bala Vignesh</h3>
          <span class="fh5co-position">Tournament Director</span>
          <p>Started a little late, but absolutely in awe for the game. Picked up the game really well. Also, I'll be your contact for badminton merchandise.</p>
          <!--<ul class="social social-circle">-->
            <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-dribbble"></i></a></li>-->
          <!--</ul>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-person text-center to-animate">
          <figure><img src="images/alfreda.jpeg" alt="Image"></figure>
          <h3>Alfred Akainyah</h3>
          <span class="fh5co-position">Chief Players Rep</span>
          <p>A very powerful smasher, prefer to play doubles. Love playing good competetive games. Would love to play daily if courts are available.</p>
          <!--<ul class="social social-circle">-->
            <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-github"></i></a></li>-->
          <!--</ul>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="fh5co-person text-center to-animate">
          <figure><img src="images/shalab_singh.jpeg" alt="Image"></figure>
          <h3>Shalabh Singh</h3>
          <span class="fh5co-position">Tournament Co-ordinator</span>
          <p>Easily the most friendly and approachable guy in the league. My love of the sport is more centered towards fun-filled workout.</p>
          <!--<ul class="social social-circle">-->
            <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-dribbble"></i></a></li>-->
          <!--</ul>-->
        </div>
      </div>


      <!--<div class="row">-->
        <div class="col-md-4">
          <div class="fh5co-person text-center to-animate">
            <figure><img src="images/sriramu.jpeg" alt="Image"></figure>
            <h3>Sriram U</h3>
            <span class="fh5co-position">Co-ordinator</span>
            <p>Right handed player with some good smashing skill. Rub me on the wrong side in the court, you will see some fireworks.</p>
            <!--<ul class="social social-circle">-->
              <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
              <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
              <!--<li><a href="#"><i class="icon-github"></i></a></li>-->
            <!--</ul>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-person text-center to-animate">
            <figure><img src="images/vijay.jpeg" alt="Image"></figure>
            <h3>Vijay</h3>
            <span class="fh5co-position">Site co-ordinator</span>
            <p>Easily the tallest man in the gang, he's a train when playing. Come in his way at your own risk. Outside the court, he's a gentleman.</p>
            <!--<ul class="social social-circle">-->
              <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
              <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
              <!--<li><a href="#"><i class="icon-github"></i></a></li>-->
            <!--</ul>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-person text-center to-animate">
            <figure><img src="images/krishnan.jpeg" alt="Image"></figure>
            <h3>Krishnan Sriram</h3>
            <span class="fh5co-position">Technology Specialist</span>
            <p>The guy who grunts and rants are more louder than his game. Love the science behind the game, more than the game.</p>
            <!--<ul class="social social-circle">-->
            <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
            <!--<li><a href="#"><i class="icon-github"></i></a></li>-->
            <!--</ul>-->
          </div>
        </div>
      <!--</div>-->

    </div>
  </div>
</section>
