<section id="fh5co-services" data-section="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">Schedule & Information</h2>
        <div class="row">
          <div class="col-md-8 subtext to-animate">
            <h3>Welcome to the first Columbus Lin-ning badminton tournament at Worthington, Ohio. Ready to take the Linning challenege? </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-anchor"></i>
        <h3>Schedule</h3>
        <p>Tournament will start of May 4th at 3:00PM. With as many as 15 teams, each team will play 2 games in their pool. Top 1 in each pool qualify to Knock_off's. </p>
      </div>
      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-layers2"></i>
        <h3>Parking</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-video2"></i>
        <h3>Photo &amp; Video</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
      </div>
      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-monitor"></i>
        <h3>Essentials - Birdies and Fee</h3>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean</p>
      </div>

    </div>
  </div>
</section>
