<section id="fh5co-services" data-section="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-left">
        <h2 class=" left-border to-animate">Schedule & Information</h2>
        <div class="row">
          <div class="col-md-8 subtext to-animate">
            <h3>Welcome to the first Columbus Li-Ning badminton tournament at Worthington, Ohio. Ready to take the Li-Ning challenege? </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-anchor"></i>
        <h3>Schedule</h3>
        <p>Tournament is scheduled on May 6th at 2:00PM. With as many as 16 teams, each team will play in Seeded single elimination with consolation bracket. </p>
      </div>
      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-layers2"></i>
        <h3>Parking</h3>
        <p>Parking is available in plenty for the tournament. Please arrive well before time and park in the lot, front of the center. There is ample parking space, feel free to make full use of it.</p>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-video2"></i>
        <h3>Photos &amp; Videos</h3>
        <p>We plan to record the tournament, although video recording will be selective, feel free to bring your equipement to record your games or the entire tournament. Pictures of the tournament will be made available in this site at a later point in time. </p>
      </div>
      <div class="col-md-6 col-sm-6 fh5co-service to-animate">
        <i class="icon to-animate-2 icon-monitor"></i>
        <h3>Essentials - Birdies and Fee</h3>
        <p>We plan to record the tournament, although video recording will be selective, feel free to bring your equipement to record your games or the entire tournament. Pictures of the tournament will be made available in this site at a later point in time.</p>
      </div>

    </div>
  </div>
</section>
