<section id="fh5co-work" data-section="work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Teams</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>List of teams participating in the challenge.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
         <div class="fh5co-text">
            <h2>Team 1</h2>
            <span>Bala - Swapnil</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_2.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 2</h2>
            <span>Shalab - Aravind M</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_3.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 3</h2>
            <span>Vijay - Ipong</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_4.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 4</h2>
            <span>Alfred - Krishna</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_5.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 5</h2>
            <span>Aslam - Dilan</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_6.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 6</h2>
            <span>Siva M - Abhilash</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_7.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 7</h2>
            <span>David - Zhenhe W</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_8.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 8</h2>
            <span>Prithvi - Bharath</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 9</h2>
            <span>Krishnan S - Anoop J</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 10</h2>
            <span>Biju - Dijo</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 11</h2>
            <span>Satya M - Ram S</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 12</h2>
            <span>Ram M - Aravind</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 13</h2>
            <span>Ganesh - Ramesh</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 14</h2>
            <span>Derek - Preston</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 15</h2>
            <span>Nirdosh - Gaurav</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 16</h2>
            <span>Ramesh P - Vishnu</span>
          </div>
        </a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center to-animate">

      </div>
    </div>
  </div>

  <div class="container to-animate">
    <h1>Match Schedule</h1>
    <div class="container">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a data-toggle="tab" href="#home" style="color:#000000; text-decoration: none">Round Of 16</a></li>
        <li><a data-toggle="tab" href="#menu1" style="color:#000000; text-decoration: none">Quarter Finals</a></li>
        <li><a data-toggle="tab" href="#menu2" style="color:#000000; text-decoration: none">Semi Finals</a></li>
        <li><a data-toggle="tab" href="#menu3" style="color:#000000; text-decoration: none">Finals</a></li>
      </ul>

      <div class="tab-content to-animate">
        <div id="home" class="tab-pane fade in active">
          <div class="row">
            <br>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 1</h3>
                <b>Match 1 (11)</b><br>
                <span>Krishnan/Anoop<br>
                  vs <br>
                  Prithvi/Bharat</span>
                <hr>
                <b>Match 2 (12)</b><br>
                <span>Aslam/Dilon<br>
                  vs <br>
                  Satya/Ram S</span>
                <hr>
                <b>Match 3 (13)</b><br>
                <span>Alfred/Krishna<br>
                  vs <br>
                  Biju/Dijo</span>
              </div>
              <!--</a>-->
            </div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 2</h3>
                <b>Match 1 (21)</b><br>
                <span>Nirdosh/Gaurav<br>
                  vs <br>
                  Ram Manda/Aravind</span>
                <hr>
                <b>Match 2 (22)</b><br>
                <span>Ramesh P/Vishnu<br>
                  vs <br>
                  Ganesh/Ramesh</span>
                <hr>
                <b>Match 3 (23)</b><br>
                <span>Siva M/Abhilash<br>
                  vs <br>
                  Vijay/Ipong</span>
              </div>
              <!--</a>-->
            </div>

            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 3</h3>
                <b>Match 1 (31)</b><br>
                <span>Derek/Preston<br>
                  vs <br>
                  Shalabh S/Arvind M</span>
                <hr>
                <b>Match 2 (32)</b><br>
                <span>David/Zhenhe W<br>
                  vs <br>
                  Bala/Swapnil</span>
                <hr>
                <b>Match 3</b><br>
                <span>Runner of match 11<br>
                vs <br>
                Runner of march 21</span>
              </div>
              <!--</a>-->
            </div>
          </div>

        </div>

        <div id="menu1" class="tab-pane fade to-animate">
          <!--<h3>Quarter Finals</h3>-->
          <div class="row">
            <br>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 1</h3>
                <b>Match 1 - 14</b><br>
                <span>Winner of Match 11<br>
                  vs <br>
                  Winner of Match 21</span>
                <hr>
                <b>Match 2 - 15</b><br>
                <span>Winner of Match 13<br>
                  vs <br>
                  Winner of Match 23</span>
              </div>
              <!--</a>-->
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 2</h3>
                <b>Match 1 - 24</b><br>
                <span>Winner of Match 31<br>
                  vs <br>
                  Winner of Match 12</span>
                <hr>
                <b>Match 2 - 25</b><br>
                <span>Winner of Match 22<br>
                  vs <br>
                  Winner of Match 32</span>
              </div>
              <!--</a>-->
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 3</h3>
                <b>Match 1 - 34</b><br>
                <span>Runner of Match 11<br>
                  vs <br>
                  Runner of Match 21</span>
                <hr>
                <b>Match 2 - 35</b><br>
                <span>Runner of Match 22<br>
                  vs <br>
                  Runner of Match 32</span>
              </div>
              <!--</a>-->
            </div>
          </div>
        </div>

        <div id="menu2" class="tab-pane fade to-animate">
          <!--<h3>Semi Finals</h3>-->
          <div class="row">
            <br>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 1</h3>
                <b>Match 1 - 16</b><br>
                <span>Winner of Match 33<br>
                  vs <br>
                  Winner of Match 34</span>
                <hr>
                <b>Match 2 - 17</b><br>
                <span>Winner of Match 35<br>
                  vs <br>
                  Winner of Match 36</span>
              </div>
              <!--</a>-->
            </div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 2</h3>
                <b>Match 1 - 26</b><br>
                <span>Winner of Match 14<br>
                  vs <br>
                  Winner of Match 24</span>
              </div>
              <hr>
              <b>Match 2 - 27</b><br>
              <span>Winner of Match 15<br>
                  vs <br>
                  Winner of Match 25</span>
              </div>
              <!--</a>-->
              <div class="col-md-4 col-sm-6 col-xxs-12">
                <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
                <div class="fh5co-text">
                  <h3>Court 3</h3>
                  <b>Match 1 - 36</b><br>
                  <span>Runner of Match 13<br>
                    vs <br>
                    Runner Of Match 23</span>
                  <!--</a>-->
              </div>
            </div>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade to-animate">
          <!--Finals-->
          <div class="row">
            <br>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-6 col-xxs-12">
              <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
              <div class="fh5co-text">
                <h3>Court 1</h3>
                <b>Match 1</b><br>
                <span>Winner of Match 16<br>
                  vs <br>
                  Winner of Match 17</span>
              </div>
            </div>
                <!--<a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate" style="background-color: #2e6da4">-->
          <div class="col-md-4 col-sm-6 col-xxs-12">
            <div class="fh5co-text">
              <h3>Court 2</h3>
              <b>Match 2</b><br>
              <span>Winner of Match 26<br>
              vs <br>
              Winner of Match 27</span>
            </div>
            <!--</a>-->
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
