<section id="fh5co-work" data-section="work">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">Teams</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext to-animate">
            <h3>List of teams participating in the challenge.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
         <div class="fh5co-text">
            <h2>Team 1</h2>
            <span>Bala - Swapnil</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_2.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 2</h2>
            <span>Shalab - Aravind M</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_3.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 3</h2>
            <span>Vijay - Ipong</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_4.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 4</h2>
            <span>Alfred - Krishna</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_5.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 5</h2>
            <span>Aslam - Dilan</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_6.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 6</h2>
            <span>Siva M - Abhilash</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_7.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 7</h2>
            <span>David - Zhenhe W</span>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_8.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 8</h2>
            <span>Prithvi - Bharath</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 9</h2>
            <span>Krishnan S - Anoop J</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 10</h2>
            <span>Biju - Dijo</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 11</h2>
            <span>Satya M - Ram S</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 12</h2>
            <span>Ram M - Aravind</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 13</h2>
            <span>Ganesh - Ramesh</span>
          </div>
        </a>
      </div>

      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 14</h2>
            <span>Derek - Preston</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 15</h2>
            <span>Nirdosh - Gaurav</span>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="images/work_1.jpg" class="fh5co-project-item image-popup to-animate">
          <div class="fh5co-text">
            <h2>Team 16</h2>
            <span>Ramesh P - Vishnu</span>
          </div>
        </a>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center to-animate">

      </div>
    </div>
  </div>
</section>
