<section id="fh5co-intro">
  <div class="container">
    <div class="row row-bottom-padded-lg">

      <!--Left Panel-->

      <div class="fh5co-block to-animate" style="background-image: url(images/img_7.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-bulb"></i>
          <h2>Places to play</h2>
          <ul style="text-align: left">
            <li>Carriage Place</li>
            <li>Dublin Community and Recreation Center</li>
            <li>Far East Rec Center</li>
            <li>Lazelle Park</li>
            <li>OSU RPAC Center</li>
            <li>Woodward Park</li>
            <li>Worthington Rec Center</li>
          </ul><br>
          <!--<p><a href="#" class="btn btn-primary">Get In Touch</a></p>-->
        </div>
      </div>

      <!--Middle Panel-->

      <div class="fh5co-block to-animate" style="background-image: url(images/img_8.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-wrench"></i>
          <h2>Li-Ning Merchandises</h2>
          <p>Alfred  Akainyah is a very energetic Player and Li-Ning Ohio Direct Sales Agent.
            Get awesome deals on all products available from <a href="https://shopbadmintononline.com">here</a> on top of listed price. All Racquet prices are include strings though website sells without strings.</p>
          <ul style="text-align: left">
            <li>
              <a href="mailto:aakainyah@li-ningonline.com">Mail</a>
            </li>
            <li>WhatsApp @ (614) 286-8122</li>
          </ul>

          <!--<p><a href="#" class="btn btn-primary">Click Me</a></p>-->
        </div>
      </div>

      <!--Right Panel-->

      <div class="fh5co-block to-animate" style="background-image: url(images/img_10.jpg);">
        <div class="overlay-darker"></div>
        <div class="overlay"></div>
        <div class="fh5co-text">
          <i class="fh5co-intro-icon icon-rocket"></i>
          <h2>Professional Coach</h2>
          <p>Derek Lee is a USAB High Performance 1 Certified Badminton Coach in Columbus Region. He conducts Badminton League and Clinic in Worthington Rec Center and DCRC. If you wish to advance your skills and level of play.</p>
          <ul style="text-align: left">
            <li>
              <a href="mailto:ckdlee01@hotmail.com">Mail</a>
            </li>
            <li>(614) 286-8122</li>
          </ul>

          <!--<p><a href="#" class="btn btn-primary">Why Us?</a></p>-->
        </div>
      </div>
    </div>
    <!--<div class="row watch-video text-center to-animate">-->
      <!--<span>Watch the video</span>-->

      <!--<a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo btn-video"><i class="icon-play2"></i></a>-->
    <!--</div>-->

  </div>
</section>
