
<app-bd-navbar></app-bd-navbar>
<app-bd-jumbotron></app-bd-jumbotron>
<app-bd-home></app-bd-home>
<app-bd-work></app-bd-work>
<!--<app-bd-testimonials></app-bd-testimonials>-->
<!--<app-bd-services></app-bd-services>-->
<app-bd-about></app-bd-about>

<!--<section id="fh5co-counters" style="background-image: url(images/full_image_1.jpg);" data-stellar-background-ratio="0.5">-->
  <!--<div class="fh5co-overlay"></div>-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 section-heading text-center to-animate">-->
        <!--<h2>Fun Facts</h2>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
        <!--<div class="fh5co-counter to-animate">-->
          <!--<i class="fh5co-counter-icon icon-briefcase to-animate-2"></i>-->
          <!--<span class="fh5co-counter-number js-counter" data-from="0" data-to="89" data-speed="5000" data-refresh-interval="50">89</span>-->
          <!--<span class="fh5co-counter-label">Finished projects</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
        <!--<div class="fh5co-counter to-animate">-->
          <!--<i class="fh5co-counter-icon icon-code to-animate-2"></i>-->
          <!--<span class="fh5co-counter-number js-counter" data-from="0" data-to="2343409" data-speed="5000" data-refresh-interval="50">2343409</span>-->
          <!--<span class="fh5co-counter-label">Line of codes</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
        <!--<div class="fh5co-counter to-animate">-->
          <!--<i class="fh5co-counter-icon icon-cup to-animate-2"></i>-->
          <!--<span class="fh5co-counter-number js-counter" data-from="0" data-to="1302" data-speed="5000" data-refresh-interval="50">1302</span>-->
          <!--<span class="fh5co-counter-label">Cup of coffees</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-6 col-xs-12">-->
        <!--<div class="fh5co-counter to-animate">-->
          <!--<i class="fh5co-counter-icon icon-people to-animate-2"></i>-->
          <!--<span class="fh5co-counter-number js-counter" data-from="0" data-to="52" data-speed="5000" data-refresh-interval="50">52</span>-->
          <!--<span class="fh5co-counter-label">Happy clients</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<app-bd-contact></app-bd-contact>
<app-bd-footer></app-bd-footer>


<!-- For demo purposes Only ( You may delete this anytime :-)
<div id="colour-variations">
  <a class="option-toggle"><i class="icon-gear"></i></a>
  <h3>Preset Colors</h3>
  <ul>
    <li>
      <a href="javascript: void(0);" data-theme="style">
        <span style="background: #3f95ea;"></span>
        <span style="background: #52d3aa;"></span>
        <span style="background: #f2f2f2;"></span>
      </a>
    </li>
    <li>
      <a href="javascript: void(0);" data-theme="style2">
        <span style="background: #329998;"></span>
        <span style="background: #6cc99c;"></span>
        <span style="background: #f2f2f2;"></span>
      </a>
    </li>
    <li>
      <a href="javascript: void(0);" data-theme="style3">
        <span style="background: #9f466e;"></span>
        <span style="background: #c24d67;"></span>
        <span style="background: #f2f2f2;"></span>
      </a>
    </li>
    <li>
      <a href="javascript: void(0);" data-theme="style4">
        <span style="background: #21825C;"></span>
        <span style="background: #A4D792;"></span>
        <span style="background: #f2f2f2;"></span>
      </a>
    </li>

  </ul>
</div>
<!-- End demo purposes only -->
